{{dino-header}}
<main>
  <section>
    {{#dino-listings}}
      {{#each model as |posting|}}
        {{dino-listing title=posting.title pay=posting.pay description=posting.description interested=posting.interested}}
      {{/each}}
    {{/dino-listings}}
  </section>
  <aside id='side-bar'>
    {{dino-add}}
  </aside>
</main>
{{dino-footer}}
